<div id="<%= dom_id channel %>">
  <p>
    <strong>Name:</strong>
    <%= channel.name %>
  </p>

  <p>
    <strong>Discord:</strong>
    <%= channel.discord_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= channel.channel_type %>
  </p>

</div>
