<h1>Editing member voice session</h1>

<%= render "form", member_voice_session: @member_voice_session %>

<br>

<div>
  <%= link_to "Show this member voice session", @member_voice_session %> |
  <%= link_to "Back to member voice sessions", member_voice_sessions_path %>
</div>
