<div id="<%= dom_id member %>">
  <p>
    <strong>Discord:</strong>
    <%= member.discord_id %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= member.display_name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= member.nickname %>
  </p>

</div>
